.unbound-button {
   box-sizing: border-box;
   display: inline-block;
   line-height: calc(2.5 * 16px);
   border-radius: 6px;
   font-weight: 400;
   font-size: calc(0.875 * 16px);
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   outline: none;
   text-transform: capitalize;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
   white-space: nowrap;
   -webkit-transition: background-color 200ms ease 0ms,box-shadow 200ms ease 0ms, border 200ms ease 0ms,color 200ms ease 0ms;
   transition: background-color 200ms ease 0ms,box-shadow 200ms ease 0ms, border 200ms ease 0ms,color 200ms ease 0ms;
   position: relative;
   overflow: hidden;
   color: #888;
   background-color: #000;
   border: 1px solid #333;
   cursor: pointer;
   pointer-events: auto;
   box-shadow: none;
   --geist-ui-button-icon-padding: calc(0.727 * 16px);
   --geist-ui-button-height: calc(2.5 * 16px);
   --geist-ui-button-color: #888;
   --geist-ui-button-bg: #000;
   min-width: calc(10.5 * 16px);
   width: initial;
   height: calc(2.5 * 16px);
   padding: 0 calc(1.375 * 16px) 0 calc(1.375 * 16px);
   margin: 0 0 0 0;
}
