.unbound-dashboard {
    padding: 20px;

    .unbound-option-card {
        background: #000;
        color: #888;
        border-radius: 8px;
        border: 1px solid #333;
        padding: 10px;
        margin-top: 10px;
    }
    
    .unbound-option-card-title {
        justify-content: space-between;
        display: flex;
        color: #fff;
        font-weight: 600;
    }
    
    .unbound-option-card-content {
        margin: 10px 0;
    }
}